/* * {
    box-sizing: border-box
}  */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}

.darkmode {
	--bg: black;
	--accent: white;
	--primary: rgb(180, 180, 180);
	--secundary: rgb(255, 255, 255, 0.6);

	--button-bg: rgb(255, 255, 255, 0.15);

	--textarea: rgb(0, 0, 0, 0.3);
	--transparant: rgb(0, 0, 0, 0);

	--cm-line: rgb(0, 0, 0, 1);
	--cm-flash: rgb(255, 255, 255, 0.3);
	--cm-gutter: var(--transparant);
	--cm-select: rgb(255, 255, 255, 0.2);
}

.lightmode {
	--bg: rgb(240, 240, 240);
	--accent: black;
	--primary: rgb(75, 75, 75);
	--secundary: rgb(0, 0, 0, 0.6);

	--button-bg: rgb(0, 0, 0, 0.2);

	--textarea: rgb(0, 0, 0, 0.1);
	--transparant: rgb(0, 0, 0, 0);

	--cm-line: rgb(0, 0, 0, 0.9);
	--cm-flash: rgb(255, 255, 255, 0.5);
	--cm-gutter: var(--transparant);
	--cm-select: rgba(0, 0, 0, 0.3);
}

.colormode {
	--bg: #6917d0;
	--accent: #17ffee;
	--primary: #17ffc4;
	--secundary: #ff1791;

	--button-bg: #cc17ff;

	--textarea: var(--transparant);
	--transparant: rgb(0, 0, 0, 0);

	--cm-line: rgb(0, 0, 0, 1);
	--cm-flash: rgb(255, 255, 255, 0.3);
	--cm-gutter: var(--transparant);
	--cm-select: rgba(0, 0, 0, 0.2);
}

.themeswitch {
	position: absolute;
	/* float: right; */
	bottom: 12px;
	right: 12px;
	background: var(--button-bg);
	width: 20px;
	height: 20px;
	border-radius: 2px;
	margin: 4px;
}

.themeswitch:hover {
	background: var(--accent);
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	-webkit-app-region: drag;
}

body {
	/* background: rgb(20, 20, 20); */
	background: var(--bg);
	/* background: rgb(0, 0, 0, 0); */
	/* font-family: "Andale Mono"; */
	font-family: 'Ubuntu Mono', monospace;

	margin: 0;
	z-index: 10;
}

h1 {
	font-family: 'Major Mono Display', monospace;
	/* text-align: right; */
	/* font-weight: 'normal'; */
	/* font-size: 36px; */
	/* font-size: 6vw; */
	font-size: 1.5em;
	/* color: rgb(180, 180, 180); */
	color: var(--secundary);
	-webkit-app-region: no-drag;
}

p {
	/* font-family: "Andale Mono"; */
	/* font-family: "courier new"; */
	color: var(--primary);
	-webkit-app-region: no-drag;
	overflow-wrap: break-word;
}

#menu {
	/* background: rgb(0, 0, 0, 0.3); */
	margin: 0 auto; 
	width: 100%;
	max-width: 100%;
	/* height: auto; */
	display: inline-block;
}

button {
	/* display: block; */
	/* font-family: "Andale Mono"; */
	font-family: inherit;
	/* text-align: left; */
	border-radius: 2px;
	border-width: 0px;
	/* border-color: rgb(255, 255, 255, 0); */
	/* background: rgb(255, 255, 255, 0.1); */
	background: var(--button-bg);
	color:  var(--secundary);
	/* color:  rgb(0, 0, 0, 1); */
	width: 19%;
	height: 25px;
	margin: 2px;
	/* padding: 10px; */
	-webkit-app-region: no-drag;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; 
}
	
.hide p {
	text-align: right;
}

.hide button {
	/* background: rgb(255, 255, 255, 0.05); */
	background: var(--transparant);
	color: var(--secundary);
}

button:hover {
	/* background: black; */
	color: var(--accent);
	background: var(--transparant);
	/* background: rgb(255, 255, 255, 0.15); */
}

button:active {
	/* background: rgb(50, 50, 50); */
	color: var(--bg);
	background: var(----secundary);
}

select {
	/* display: block; */
	font-family: inherit;
	border-color: var(--secundary);
	border-width: 0px;
	color: var(--secundary);
	/* background: rgb(20, 20, 20); */
	/* background: rgb(255, 255, 255, 0.1); */
	background: var(--button-bg);
	border-radius: 2px;
	width: 19%;
	height: 25px;
	margin: 2px;
	-webkit-app-region: no-drag;
}

select:hover {
	/* background: rgb(50, 50, 50); */
	color: var(--accent);
	background: var(--transparant);
	/* background: rgb(255, 255, 255, 0.15); */
}

textarea {
	font-family: inherit;
	/* border-color: darkgrey; */
	border-width: 0px;
	border-radius: 2px;
	color: var(--button-bg);
	background: var(--textarea);
	width: 100%;
	margin: 2px;
	overflow: hidden;
	-webkit-app-region: no-drag;
}

textarea:focus {
	outline: none !important;
	border-color: var(--bg);
}

.bottom-ui {
	/* margin: 20px; */
	position: fixed;
	bottom: 20px;
	width: auto;
	width: 100%;
	/* left: 0; */
}

.CodeMirror {
	/* background: transparent; */
	background-color: var(--transparant) !important;
	/* background-color: transparent !important; */
	/* border: 1px solid black; */
	font-size: 16px;
	height: auto;
	/* font-family: "Consolas"; */
	/* font-family: 'Ubuntu Mono', monospace; */
	font-family: inherit;
	font-size: 1em;
	line-height: 1.6 !important;

	-webkit-app-region: no-drag;
}

.CodeMirror-line span {
	padding-top: 1px;
	padding-bottom: 1px;
    background-color: var(--cm-line);
}

.CodeMirror-gutters {
	background-color: var(--cm-gutter) !important;
}

.CodeMirror-selected {
	background-color: var(--cm-select) !important;
}

.editorFlash {
	background: var(--cm-flash) !important;
	/* mix-blend-mode: difference; */
}

.canvas {
	z-index: -1000;
	position: fixed;
	/* margin: 0 !important; */
	/* padding: 0 !important; */
	margin-top: -21px;
}

.ui {
	margin: 20px;
	z-index: 10;
}

.loadscreen {
	opacity: 1; 
	background: var(--bg); 
	width: 100%;
	height: 100%; 
	z-index: 999999;
	top: 0; 
	left: 0; 
	position: fixed;
	/* display: none; */
}

.loader {
	border: 10px solid var(--secundary);
	border-radius: 80%;
	border-top: 10px solid var(--accent);
	width: 25px;
	height: 25px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;

	float: center;
	z-index: 1000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	/* margin-bottom: 50%; */
}

.loadText {
	float: center;
	/* text-align: center; */
	z-index: 1000;
	margin-left: 20px;
	margin-top: 20px;
	/* margin-right: auto; */
	/* margin-top: 150px; */
}

.hideLoad {
	display: none;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}