/* * {
    box-sizing: border-box
}  */

body {
	/* background: rgb(20, 20, 20); */
	background: black;
	/* background: rgb(0, 0, 0, 0); */
	/* font-family: "Andale Mono"; */
	font-family: 'Ubuntu Mono', monospace;

	margin: 20px;
}

h1 {
	font-family: 'Major Mono Display', monospace;
	/* font-weight: 'normal'; */
	/* font-size: 36px; */
	/* font-size: 6vw; */
	font-size: 2em;
	color: rgb(180, 180, 180);
}

p {
	/* font-family: "Andale Mono"; */
	/* font-family: "courier new"; */
	color: rgb(180, 180, 180);
}

#menu {
	margin: 0 auto; 
	width: 100%;
	max-width: 100%;
	/* height: auto; */
	display: inline-block;
}

button {
	/* display: block; */
	/* font-family: "Andale Mono"; */
	font-family: inherit;
	border-radius: 2px;
	border-width: 0px;
	border-color: rgb(180, 180, 180);
	background: rgb(20, 20, 20);
	color:  rgb(180, 180, 180);
	width: 19%;
	height: 25px;
	margin: 2px;
	/* padding: 10px; */
}
	
.hide p {
	text-align: right;
}

.hide button {
	background: rgb(255, 255, 255, 0.05);
	color: rgb(255, 255, 255, 0.5);
}

button:hover {
	/* background: black; */
	background: rgb(50, 50, 50);
}

button:active {
	background: rgb(50, 50, 50);
}

select {
	/* display: block; */
	font-family: inherit;
	border-color: darkgrey;
	border-width: 0px;
	color:  rgb(180, 180, 180);
	background: rgb(20, 20, 20);
	border-radius: 2px;
	width: 19%;
	height: 25px;
	margin: 2px; 
}

select:hover {
	background: rgb(50, 50, 50);
}

textarea {
	font-family: inherit;
	border-color: darkgrey;
	color: white;
	background: rgb(30, 30, 30);
}

textarea:focus {
	outline: none !important;
	border-color: black;
}

.CodeMirror {
	border: 1px solid black;
	font-size: 16px;
	height: auto;
	/* font-family: "Consolas"; */
	/* font-family: 'Ubuntu Mono', monospace; */
	font-family: inherit;
	font-size: 1em;
}

.editorFlash {
	background: rgb(255, 255, 255, 0.2);
	/* mix-blend-mode: difference; */
}